.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding: 63px 84px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--light-grey);
}

.TextArea {
  margin-top: 50px !important;
}

.FormTitle {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 18px;
}

.dictionaryForm {
  background-color: var(--light-grey);
  padding-bottom: 40px;
}

.DoctorForm {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.DoctorReview {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.Row {
  display: flex;
  justify-content: space-between;
}

.DictionaryRow{
  padding: 0px 20px;
}

.Button {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
  padding: 12px 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--purple);
  margin-top: 50px;
}

.Button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.InputField {
  height: 42px;
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  border-width: 0.2px;
  border-color: var(--light-grey);
  padding-left: 8px;
}

.Label {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--purple);
  margin-top: 20px;
}

.GeneralNotes {
  height: 200px;
  border-width: 1px;
  border-color: var(--grey);
}

.NavRow {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.ThemeButton {
  background-color: var(--purple) !important;
}

@media only screen and (max-width: 1840px) {
  .Row {
    flex-direction: column !important;
  }
}